<!-- Extend the base layout from the layout.html -->
{% extends "InventoryApp/layout.html" %}

{% block title %} Products List {% endblock %}

{% block content %}

<h2>Debugging Products</h2>
<ul>
    {% for product in products %}
    <li>{{ product.product_name }} - {{ product.product_price }}</li>
    {% empty %}
    <li>No products found</li>
    {% endfor %}
</ul>


<!-- Display the list of products -->
<h1 class="text-center">Products</h1>
<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th>SKU</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Weight</th>
            <th>Color</th>
            <th>Size</th>
            <th>Supplier</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.product_id }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.product_category }}</td>
            <td>{{ product.product_sku }}</td>
            <td>{{ product.product_price }}</td>
            <td>{{ product.product_quantity }}</td>
            <td>{{ product.product_weight }}</td>
            <td>{{ product.product_color }}</td>
            <td>{{ product.product_size }}</td>
            <td>{{ product.product_supplier }}</td>
            <td>{{ product.product_description }}</td>
            <td>
                {% if product.product_image %}
                <img src="{{ product.product_image.url }}" alt="Product Image" width="100" height="100">
                {% else %}
                No Image
                {% endif %}
            </td>
            <td>
                <a href="{% url 'product_update' product.product_id %}">Update</a>
            </td>

        </tr>
        {% endfor %}
</table>

{% endblock %}